services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8007:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
    restart: on-failure

  celery_worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
      - api
    command: celery -A app.worker worker --loglevel=info

  celery_flower:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672/
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - celery_worker
      - rabbitmq
      - redis
    command: celery -A app.worker flower --port=5555


  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data: